<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Welcome to poisci.ga</h1>
<p>
  To finish activating your account - please visit <a href="<%= @url %>"> <%= @url %> </a>.
  This link can only be used once to validate your account.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>
