h1
  = "Whereabouts on #{@date}"

#map style="width:100%; height:800px"

- @locations.each do |location|
  input type="hidden" class="coordinates" data-latitude="#{location.latitude}" data-longitude="#{location.longitude}"
javascript:
    $(document).ready(function () {

        var center_latitude = 46.167124;
        var center_longitude = 14.306264;

        var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            osm = L.tileLayer(osmUrl, {maxZoom: 18}),
            map = new L.Map('map', {center: new L.LatLng(center_latitude, center_longitude), zoom: 15}),
            drawnItems = L.featureGroup().addTo(map);

        L.control.layers({
            'osm': osm.addTo(map),
            "google": L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
                attribution: 'google'
            })
        }, {'drawlayer': drawnItems}, {position: 'topright', collapsed: false}).addTo(map);


        var myIcon = L.icon({
            iconUrl: "#{image_url('map_pin.png')}",
            iconSize: [10, 10],
        });

        $(".coordinates").each(function () {
            var marker = new L.Marker(new L.LatLng($(this).data("latitude"), $(this).data("longitude")), {icon: myIcon});
            drawnItems.addLayer(marker);
        });
    });
